{% extends "blog/base.html" %}
{% block content %}
    <h2>Stored Data</h2>
    <br>
    <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title">Station 1</h3>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover" width="500">
          <thead>
            <th>Datetime</th>
            <th>Rain Height</th>
            <th>Wind Intensity</th>
            <th>Temperature</th>
            <th>ID</th>
            <th>Humidity</th>
            <th>Wind Direction</th>
          </thead>
          <tbody id="station1">

          </tbody>

        </table>
        {% for elem in items1 %}
          <p>{{elem}}</p>
        {% endfor %}
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title">Station 2</h3>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
            <th>Datetime</th>
            <th>Rain Height</th>
            <th>Wind Intensity</th>
            <th>Temperature</th>
            <th>ID</th>
            <th>Humidity</th>
            <th>Wind Direction</th>
          </thead>
          <tbody id="station2">

          </tbody>
        </table>
        {% for elem in items2 %}
          <p>{{elem}}</p>
        {% endfor %}
      </div>
    </div>
    <br>
    <h3>Rain Height: </h3>
    <br>
    {% for elem in rain %}
      <p>{{elem}}</p>
    {% endfor %}
    <br>
    <br>
    <h3>Wind Intensity: </h3>
    <br>
    {% for elem in windintensity %}
      <p>{{elem}}</p>
    {% endfor %}
    <br>
    <br>
    <h3>Temperature: </h3>
    <br>
    {% for elem in temp %}
      <p>{{elem}}</p>
    {% endfor %}
    <br>
    <br>
    <h3>Humidity: </h3>
    <br>
    {% for elem in humidity %}
      <p>{{elem}}</p>
    {% endfor %}
    <br>
    <br>
    <h3>Wind Direction: </h3>
    <br>
    {% for elem in windirection %}
      <p>{{elem}}</p>
    {% endfor %}




{% endblock content %}
